<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Bootstrap</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'templates/bootstrap.min.css'%}">
    <style>
        body{
            padding-top: 50px;
        }
        .start{
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="Head">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">Education Servise System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Information</a></li>
                <li><a href="#">Online Testing</a></li>
                <li class = "active"><a href="Resource.html">Resource</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="container clearfix">
    <div class="container-fluid">
        <div class="col-xs-8 col-sm-3 sidebar-offcanvas">
            <div class="pin-wrapper" style="height: 450px;">
                <div class="pinned note-container" style="width: 248px;">
                    <div class="transbox">
                        {% if course_list %}
                        <ul class="nav nav-list">
                            <br>
                            <br>
                            {% for course in course_list %}
                            {% if course.course_id == course_id %}
                            <li><a href="ResourceCourse.html?course_id={{course.course_id.pk}}"><strong>{{course.course_id.name}}</strong></a></li>
                            {% else %}
                            <li><a href="ResourceCourse.html?course_id={{course.course_id.pk}}">{{course.course_id.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                            <br>
                            <br>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">

                    <div class="transbox" id="NoticeList">
                        <div>
                            <h1>Notification</h1>

                            <table class="table table-striped">

                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Content</th>
                                    {% if request.COOKIES.type != 'student' %}
                                        <th>Delete</th>
                                    {% endif %}
                                    <th>Date</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% if Notice_list %}

                                {% for notice in Notice_list %}
                                <tr>
                                    <td width="30">{{notice.notice_num}}</td>
                                    <td width="400"><a href="Notice.html?course_id={{course_id}}&notice_id={{notice.notice_num}}">{{notice.notice_title}}</a></td>
                                    {% if request.COOKIES.type != 'student' %}
                                    <td width="200"><a href="delete_notice?course_id={{course_id}}&notice_id={{notice.notice_num}}">delete</a></td>
                                    {% endif %}
                                    <td width="200">{{notice.date}}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <!--<p><a href="notice.html" class="btn btn-primary btn-large">More Information »</a></p>-->

                        </div>
                    </div>
                </div><!--/col-xs-12 col-sm-9-->
            </div><!--/row row-offcanvas-->
        </div><!--/container-->
        {% if request.COOKIES.type != 'student' %}
            <p><a href="AssignNotice.html?course_id={{course_id}}" class="btn btn-primary btn-large">Assign Notice</a></p>
        {% endif %}
    </div>
</section>
</body>
</html>
